
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5faff; /* hele taust */
}


header {
    background-color: #add8e6;
    text-align: center;
    padding: 15px;
    color: white;
}




#menyy ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: #e0f7ff;
    display: flex;
}

#menyy li {
    display: inline-block;
}

#menyy a {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

#menyy a:hover {
    background-color: #87cefa;
    color: white;
}


#sisu {
    background: white;
    margin: 20px;
    padding: 20px;
    border: 1px solid #87cefa;
    border-radius: 6px;
}



table {
    width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
}

th {
    background-color: #add8e6;
    color: white;
    padding: 10px;
}

td {
    border: 1px solid #87cefa;
    padding: 10px;
}

td a {
    color: red;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}


form {
    margin: 20px;
    padding: 20px;
    background: #e0f7ff;
    border-radius: 8px;
    width: 350px;
}

form label {
    display: block;
    margin: 8px 0 4px;
}

form input[type="text"],
form input[type="date"],
form input[type="color"] {
    width: 100%;
    padding: 6px;
    border: 1px solid #87cefa;
    border-radius: 4px;
}

form input[type="submit"] {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background: #87cefa;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

form input[type="submit"]:hover {
    background: #5bb3e6;
}



#pilt{
    height: 200px;
    width: 200px;
}